/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.book-menu {
  display: block;
  float: left;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  margin: 5px auto;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 100px;
  box-sizing: border-box;
}

a:hover {
  background-color: #000;
}

.book-menu .book-menu-point {

}

.book-menu .cover {
  display: inline-block;
  width: 100px;
  height: 150px;
}
