<div class="books">
  @for(book of books; track book.id) {
    <button type="button" routerLink="/book-details/{{book.id}}">
      <span class="badge">{{book.id}}.</span>
      <span class="basic-details">{{book.title}} - {{book.author.name}}</span>
      <img class="cover" [src]="book.coverPath">
    </button>
<!--      <a class="book" routerLink="/book-details/{{book.id}}">-->
<!--        <img class="cover" [src]="book.coverPath">-->
<!--        {{book.title}} - {{book.author.name}}-->
<!--      </a>-->
  }
</div>
