<h1>{{title}}</h1>
<nav>

  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/homepage">
    Homepage
  </a>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/authors">
    Authors
  </a>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/books">
    Books
  </a>

  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/items">
    Items
  </a>

  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/rents">
    Rents
  </a>

</nav>

<router-outlet></router-outlet>
